/* .Navbar{

} */

.Navigation{
 margin-bottom: 20px;
}

.Brand{
 color: white;
 font-size: 25px;
 width: 80px;
}

.Brand img{
 width: 100%;
}
.NavLink{ 
 color: white !important;}
.NavLink:hover{
 color: wheat;
}
